.chat-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#chatsList {
    list-style-type: none;
    padding: 0;
    height: 400px;
    overflow-y: scroll;
}

    #chatsList:hover::-webkit-scrollbar {
        width: 8px; /* Ширина скроллбара */
    }

.chats-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 0;
    width: 380px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 700px;

}


.chat-link {
    display: block;
    text-decoration: none; /* Убрать подчеркивание текста внутри ссылки */
    color: black;
    width: 100%;
    height: 100%;
    padding: 5px 15px;
}

.list-group-item {
    padding: 0;
}


#chatsList::-webkit-scrollbar {
    width: 8px;
}

#chatsList::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

#chatsList::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 4px; 

}

.messages-box {

    margin-left:20px;
}

.latest-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.selected-chat {
    background-color: #95a9f4;
    color: white;
}
